.astep_1{
  position: relative;
  height: 680px;
}
.astep_1 h4{
  padding-top: 134px;
}
.astep_1 h4,p,span{
  position: relative;
  z-index: 3;
}
.astep_1 .img{
  position: absolute;
  left:0;
  top:0;
  z-index: 2;
}
.astep_3 {
	height: 702px;
	padding: 84px 0 0;
  position: relative;
	text-align: center;
}

.astep_3 h4,p,span{
  position: relative;
  z-index: 3;
}
.astep_3 .img{
  position: absolute;
  left:0;
  top:0;
  z-index: 2;
}
.astep_6 {
	height: 500px;
	width: 1000px;
	margin: 0 auto;
}
.astep_7 {
	height: 680px;
  position: relative;
}
.astep_7 h4,p,span{
  position: relative;
  z-index: 3;
}
.astep_7 .img{
  position: absolute;
  left:0;
  top:0;
  z-index: 2;
}