{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="form form-horizontal" id="form" method="post" action="{:\\think\\Request::instance()->baseUrl()}">
        <input type="hidden" name="id" value="{$vo.id ?? ''}">
        <div id="tab-system" class="HuiTab">
            <div class="tabBar cl">
                <span>基本设置</span>
                <span>SEO优化</span>
            </div>
            <div class="tabCon">
                 <div class="row cl">
                     <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>网站LOGO图：</label>
                     <div class="formControls col-xs-6 col-sm-6">
                         <input type="text" class="input-text" id="logo" placeholder="请点击按钮上传网站LOGO图" name="logo" value="{$vo.logo ?? ''}" datatype="*" nullmsg="请填写网站LOGO图地址" style="width: 70%">
                         <button type="button" class="btn btn-primary radius" onclick="layer_open('文件上传','{:\\think\\Url::build(\'Upload/index\', [\'id\' => \'logo\'])}')">上传</button>
                         <a onclick="$(this).attr('href', $('#logo').val())" type="button" class="btn btn-success radius" data-lightbox="preview">预览</a>
                     </div>
                     <div class="col-xs-3 col-sm-3"></div>
                 </div>
              <div class="row cl">
                     <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>网站图片：</label>
                     <div class="formControls col-xs-6 col-sm-6">
                         <input type="text" class="input-text" id="img" placeholder="请点击按钮上传网站图片" name="img" value="{$vo.img ?? ''}" datatype="*" nullmsg="请填写网站图片地址" style="width: 70%">
                         <button type="button" class="btn btn-primary radius" onclick="layer_open('文件上传','{:\\think\\Url::build(\'Upload/index\', [\'id\' => \'img\'])}')">上传</button>
                         <a onclick="$(this).attr('href', $('#img').val())" type="button" class="btn btn-success radius" data-lightbox="preview">预览</a>
                     </div>
                     <div class="col-xs-3 col-sm-3"></div>
                 </div>
                 <div class="row cl">
                     <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>客户名称：</label>
                     <div class="formControls col-xs-6 col-sm-6">
                         <input type="text" class="input-text" placeholder="客户名称" name="Name" value="{$vo.Name ?? ''}"  datatype="*" nullmsg="请填写客户名称">
                     </div>
                     <div class="col-xs-3 col-sm-3"></div>
                 </div>
                 <div class="row cl">
                     <label class="form-label col-xs-3 col-sm-3">网站定位：</label>
                     <div class="formControls col-xs-6 col-sm-6">
                         <input type="text" class="input-text" placeholder="网站定位" name="site" value="{$vo.site ?? ''}" >
                     </div>
                     <div class="col-xs-3 col-sm-3"></div>
                 </div>
                 <div class="row cl">
                     <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>网站地址：</label>
                     <div class="formControls col-xs-6 col-sm-6">
                         <input type="text" class="input-text" placeholder="网站地址" name="url" value="{$vo.url ?? ''}"  datatype="*" nullmsg="请填写网站地址">
                     </div>
                     <div class="col-xs-3 col-sm-3"></div>
                 </div>
                 <div class="row cl">
                     <label class="form-label col-xs-3 col-sm-3">合作时间：</label>
                     <div class="formControls col-xs-6 col-sm-6">
                         <input type="text" class="input-text" placeholder="合作时间" name="time" value="{$vo.time ?? ''}" >
                     </div>
                     <div class="col-xs-3 col-sm-3"></div>
                 </div>
                 <div class="row cl">
                     <label class="form-label col-xs-3 col-sm-3">项目介绍：</label>
                     <div class="formControls col-xs-6 col-sm-6">
                        <textarea class="textarea" placeholder="客户概述" name="content" onKeyUp="textarealength(this, 350)"  style="height:200px;">{$vo.content ?? ''}</textarea>
                        <p class="textarea-numberbar"><em class="textarea-length">0</em>/350</p>
                     </div>
                     <div class="col-xs-3 col-sm-3"></div>
                 </div>
                 <div class="row cl">
                     <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>排序：</label>
                     <div class="formControls col-xs-6 col-sm-6">
                         <input type="number" class="input-text" value="{$vo.sort ?? '50'}" placeholder=""
                                name="sort" datatype="*" nullmsg="请填写排序">
                     </div>
                     <div class="col-xs-3 col-sm-3"></div>
                 </div>
                 <div class="row cl">
                     <label class="form-label col-xs-3 col-sm-3"><span class="c-red">*</span>是否推荐：</label>
                     <div class="formControls col-xs-6 col-sm-6">
                         <input type="number" class="input-text" value="{$vo.push ?? '0'}" placeholder=""
                                name="push" datatype="*" nullmsg="请填写是否推荐">
                     </div>
                     <div class="col-xs-3 col-sm-3"></div>
                 </div>
            </div>
            <div class="tabCon">
                <div class="row cl">
                    <label class="form-label col-xs-3 col-sm-3">标题：</label>
                    <div class="formControls col-xs-6 col-sm-6">
                        <input type="text" class="input-text" placeholder="控制在25个字、50个字节以内" name="title" value="{$vo.title ?? ''}" >
                    </div>
                    <div class="col-xs-3 col-sm-3"></div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-3 col-sm-3">描述：</label>
                    <div class="formControls col-xs-6 col-sm-6">
                        <textarea class="textarea" placeholder="5个左右,8汉字以内,用英文,隔开" name="description" onKeyUp="textarealength(this, 100)">{$vo.description ?? ''}</textarea>
                        <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
                    </div>
                    <div class="col-xs-3 col-sm-3"></div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-3 col-sm-3">关键字：</label>
                    <div class="formControls col-xs-6 col-sm-6">
                        <textarea class="textarea" placeholder="控制在80个汉字，160个字符以内" name="keywords" onKeyUp="textarealength(this, 100)">{$vo.keywords ?? ''}</textarea>
                        <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
                    </div>
                    <div class="col-xs-3 col-sm-3"></div>
                </div> 
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-3">状态：</label>
            <div class="formControls col-xs-6 col-sm-6 skin-minimal">
                <div class="radio-box">
                    <input type="radio" name="status" id="status-1" value="1">
                    <label for="status-1">启用</label>
                </div>
                <div class="radio-box">
                    <input type="radio" name="status" id="status-0" value="0">
                    <label for="status-0">禁用</label>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3"></div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="style"}
<link rel="stylesheet" href="__LIB__/lightbox2/css/lightbox.min.css">
{/block}
{block name="script"}
<script src="__LIB__/lightbox2/js/lightbox.min.js"></script>
<script type="text/javascript" src="__STATIC__/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__LIB__/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript">
$(function(){
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
    $("#tab-system").Huitab({
        index:0
    });
});
</script>
<script>
    $(function () {
        $("[name='status'][value='{$vo.status ?? ''}']").prop("checked", true);

        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form").Validform({
            tiptype: 2,
            ajaxPost: true,
            showAllError: true,
            callback: function (ret){
                ajax_progress(ret);
            }
        });
    })
</script>
{/block}
