{extend name="index/base"/}
{block name="content"}
<div class="nqBody">
  <div class="nqType">
    <ul  class="nqtWrap">
      <li><a href='/news.html'>公司动态</a></li>
      <li class="active"><a href="/hyzx.html">行业资讯</a></li>
    </ul>
    <span class="nqpNameCn">行业资讯</span> <span class="nqpNameEn">NEWS</span> </div>
  <ul id="nqlWrap" class="nqlWrap">
    <li class="nqli">
      <div class="nqlDate"><span class="nqldDay">02</span><span class="nqldMy">2019-08</span></div>
      <a class="nqlTitle" href="/newsa.html">如何简单快速的创建网站，让您的业务上线</a>
      <div class="nqlSum">
      如何创建一个网站有很多方法。您可以使用HTML或其他工 具创建它。如果你打算使用HTML，你必须精通使用那里的所有编程语言。除了HTML以外，另一个可 以帮助你的工具是Dreamweaver。上...</div>
      <div class="nqlDetDate">2019-08-02</div>
    </li><li class="nqli">
      <div class="nqlDate"><span class="nqldDay">02</span><span class="nqldMy">2019-08</span></div>
      <a class="nqlTitle" href="/newsb.html">『页面设计』　如何巧用色彩打造动人心弦的网页设计</a>
      <div class="nqlSum">
          根据Kissmetrics 的说法，当我们看到一个色彩的时候，信息会传递到大脑的下丘脑的某个区域中。接下来，信号会进一步传递到脑垂体，然后到甲状腺腺体。这也就意味着，色彩会刺激大脑和腺体分...</div>
      <div class="nqlDetDate">2019-08-02</div>
    </li><li class="nqli">
      <div class="nqlDate"><span class="nqldDay">02</span><span class="nqldMy">2019-08</span></div>
      <a class="nqlTitle" href="/newsc.html">选择网站空间应该从哪些方面着手</a>
      <div class="nqlSum">
          网站空间作为一个网站的母体，无疑极为关键，也是网站能否持续运营的核心要素。正是如此越来越多的站长开始注意到网站空间的重要性，于是在投资上也乐意增加一些，从而让网站空间的速度更...</div>
      <div class="nqlDetDate">2019-08-02</div>
    </li>
  </ul>
  <img src="../picture/noinfo.png" style=" display:none; margin:0 auto;" />
  <div class="nav">
    <div class="sort-page">
      <a>首页</a>
      <a href="../list_6_2.html">&lt;</a>
      <a class="page_yes">1</a>
      <a href="../list_6_2.html">2</a>
      <a href="../list_6_3.html">3</a>
      <a href="../list_6_4.html">4</a>
      <a href="../list_6_5.html">5</a>
      <a href="../list_6_6.html">6</a>
      <a href="../list_6_7.html">7</a>
      <a href="../list_6_2.html">&gt;</a>
      <a href="../list_6_15.html">末页</a>
    </div>
  </div>
</div>
{/block}